.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: lighten($primary-color, 40%);

  .home-title {
    font-size: 2.5rem;
    color: darken($primary-color, 10%);
  }

  .home-description {
    font-size: 1.2rem;
    color: #333;
  }
}
